body{
    background-color: black;
}
.body1{
    background-color: black;
    height: 850px;
    width: 100%;
}
.left1 img{
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-100%);
    filter: brightness(50%);
}
.right1{
    position: absolute;
    top: 30%;
    color: white;
    right: auto;
    left: 55%;
}
.the{
    font-family: monospace;
    font-size: 40px;
}
.rest-text{
    font-family: cursive;
    font-size: 100px;
}
.button1{
    position: relative;
    top: 40px;
}
.button-godown a:link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
}
.button-godown a:visited{
    color: white;
}
.button-godown a:hover{
    color:black;
    background-color: white;
    border: 5px solid white;
}
.body2{
    background-color: white;
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 40px;
}
.hashtag{
    font-size: 20px;
    padding: 40px;
    font-weight: bold;
    font-family: monospace;
}
.TLT{
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    font-size: 80px;
}
.subt{
    font-family: monospace;
    font-size: 15px;
    font-style: italic;
}
.body3{
    background-color: black;
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
}

.left-grouping{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(GroupPic.jpg);
    filter: grayscale(80%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.left-text{
    color: white;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 40px;
    text-align: center;
}
.left-grouping:hover{
    filter: grayscale(100%) brightness(50%);
}
.right-choolo {
    background-image: url(Choolo.jpg);
    position: relative;
    width: 100%;
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    height: 300px;
    cursor: pointer;
    filter: opacity(0);
    
}
.play-button:hover{
    filter: opacity(1);
    transition: filter 0.5s ease-in-out;
}
.right-choolo:hover{
    filter: brightness(50%) grayscale(20%);
}

@media (max-width: 1024px) {
    .right1 {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .rest-text {
        font-size: 70px; 
    }

    .button1 {
        text-align: center;
        top: 20px;
    }
}

@media (max-width: 767px) {
    .body1 {
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .left1 img {
        width: 90%; 
        top: 50px;
        left: 0;
        transform: none; 
    }

    .right1 {
        margin-left: 0; 
        text-align: center;
    }

    .the {
        font-size: 30px;
    }

    .rest-text {
        font-size: 50px; 
    }

    .button-godown a {
        position: relative;
        font-size: 20px;
        padding: 8px;
        border-width: 3px;
    }

    .body2 {
        padding: 2px;
    }

    .TLT {
        font-size: 50px; 
    }

    .subt {
        font-size: 13px;
    }


    .body3 {
        flex-direction: column; 
        height: auto;
    }

    .left-grouping, .right-choolo {
        height: 300px; 
        background-size: cover;
    }

    .left-text {
        font-size: 30px; 
    }

    .play-button {
        width: 200px; 
        height: 200px; 
    }
}


