*{
    margin: 0px;
    padding: 0px;
}
body {
    padding-top: 55px; 
}
.head {
    background-color: black;
    height: 55px;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-family: monospace;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; 
}
.menu img, .close img {
    width: 30px;
    height: auto;
    cursor: pointer;
}
.close img{
    width: 25px;
    height: auto;
    position: absolute;
    top: 12px;
    right: 20px;
}