.navbar {
    position: fixed;
    top: 40px;
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000; /* Ensures it stays above other elements */
}



.nav-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px; 
    display: inline-block; 
}

.nav-button a:hover {
    background-color: white;
    color: black;
}


@media (max-width: 1024px) {
    .navbar {
        font-size: 18px;
        word-spacing: 20px; 
    }
}

@media (max-width: 767px) {
    .navbar {
        display: flex;
        flex-direction: column; 
        text-align: center;
    }

    .nav-button {
        width: 100%; 
        text-align: center;
    }

    .nav-button a {
        display: block; 
        width: 90%; 
        text-align: center;
        padding: 10px;
        margin: 5px auto; 
    }
}
